/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif; */
* {
    margin: 0;
    padding: 0;
}

/* BEGIN OF HEADER */

.header {
    width: 1900px;
    height: 750px;
    background: #3a3e64 url("../image/header/bgimg.jpg") no-repeat center;
    background-size: cover; 
}

.header_navigation {
    width: 1170px;
    height: 100px;
    margin: 0 auto;
}

.header_icon {
    float: left;
    height: 100px;
    width: 270px;
    position: relative;
}

.header_icon img {
    position: absolute;               
    top: 50%;                        
    transform: translate(0, -50%);
}

.header_menu {
    width: 600px;
    height: 100px;
    float: right;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    position: relative;
}

.header_menu ul {
    list-style: none;
    position: absolute;               
    top: 50%;                        
    transform: translate(0, -50%);
}

.header_menu  li {
    float: right;
    margin-left: 60px;
    text-transform: uppercase;
}

.header_menu .last {
    margin-left: 0;
}

.header_menu a:hover {
    color: yellow;
}

a {
    text-decoration: none;
    color: #FFF;
}

.header_content {
    width: 1170px;
    height: 650px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_title {
    font-size: 65px;
    line-height: 71px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header_slogan {
    font-size: 22px;
    line-height: 33px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 80px;
}

.header_button {
    width: 200px;
    background-color: #e84545;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 2px;
    line-height: 46px;
}

.header_button a {
    display: block;
    height: 100%;
}

.header_button:hover {
    background-color: #FFF;
}

.header_button:hover a {
    background-color: #FFF;
    color: #e84545;
}

/* END OF HEADER */

/* BEGIN OF FEATURES */

.features {
    width: 1900px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.col_4 {
    width: 370px;
    float: left;
    margin-bottom: 60px;
    line-height: 21px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.features_image {
    margin-bottom: 34px;
}

.features_title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.works {
    width: 1900px;
}

.works_image {
    height: 350px;
    margin-bottom: 1px;
    margin-right: 1px;
    float: left;
    background-color: #2b2e4a;
    position: relative;
}

.works_image:nth-child(4n) {
    margin: 0;
}

.w469 {
    width: 469px;
}

.w480 {
    width: 480px;
}

.w468 {
    width: 468px;
}

.cover_bg{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.works_image:hover .cover_bg,
.works_image:hover .cover_title{
  display: block;
}

/* Полупрозрачный перекрывающий голубой фон */
.cover_bg {
  background: #e54e49;
  -khtml-opacity: .6;
    -moz-opacity: .6;
         opacity: .6;
}

/* Перекрывающий текст */
.cover_title {
  color: #FFF;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
}

.cover_text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

.cover_title {
    display: none;
    position: absolute;
    position: absolute;               
    top: 50%;        
    left: 50%;                
    transform: translate(-50%, -50%);
    text-align: center;
}
/* END OF FEATURES */


.team {
    padding-top: 100px;
    padding-bottom: 100px;
}

.col_3 {
    width: 270px;
    float: left;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    margin-right: 30px;
}

.col_3:last-child {
    margin-right: 0;
}

.team_title {
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
}

.team_text {
    line-height: 21px;
    font-size: 14px;
    margin-bottom: 30px;
}

.team_workname {
    text-transform: uppercase;
    color: #e84545;
    font-size: 13px;
    margin-bottom: 30px;
}

.social a {
    display: inline-block;
    margin-right: 4px;
}

/* 2b2e4a */